.site-nav svg,
.nav-list-link svg,
.search-input-wrap svg,
.aux-nav svg,
.breadcrumb-nav svg {
  width: 1em;
  height: 1em;
  max-width: 24px;
  max-height: 24px;
}

.search-icon {
  width: 1em;
  height: 1em;
}

.external-link-icon {
  width: 0.8em;
  height: 0.8em;
}
